
@{
    ViewBag.Title = "Home";
}

<div>
    <a asp-controller="Coach" asp-action="Index">Coaches</a>
    <a asp-controller="Swimmer" asp-action="Index">Swimmers</a>
    <a asp-controller="Training" asp-action="Index">Trainings</a>
    <a asp-controller="SwimStyle" asp-action="Index">Swimming Styles</a>
</div>
