
@{
    ViewBag.Title = "Home";
}
<div>
    <a asp-controller="Coaches" asp-action="Index">Coaches</a>

    <a asp-controller="Swimmers" asp-action="Index">Swimmers</a>
    <a asp-controller="Trainings" asp-action="Index">Trainings</a>
    <a asp-controller="SwimStyles" asp-action="Index">Swimming Styles</a>

</div>
