
@{
    ViewBag.Title = "Home";
}
<div>
    <a asp-controller="Coaches" asp-action="Index">Coach menu</a>

    <a asp-controller="Swimmers" asp-action="Index">Swimmer menu</a>
    <a asp-controller="Trainings" asp-action="Index">Training menu</a>
</div>
