@model IEnumerable<DTO.Models.SwimStyleDTO>
@{
    ViewBag.Title = "All styles";
}
<a>StyleName</a>

<table class="table">
    @foreach (var item in Model)
    {
        <tr><td>@item.StyleName</td></tr>
    }
</table>